@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.navigation a {
  margin-inline: 8px;
}

.navigation a:hover {
  color: #c5c4c4;
}

.navigation a:active {
  color: white;
}

.buttonDiv button {
  font-size: .8em;
  padding: 10px 20px;
  margin-right: 6px;
  background-color: #ffffff;
  color: #222;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  min-width: 130px;
}

.buttonDiv a {
  font-size: .8em;
  padding: 10px 20px;
  margin-right: 6px;
  background-color: #ffffff;
  color: #222;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  min-width: 130px;
}

.buttonDiv :nth-child(2) {
  background-color: #5542F6;
  color: white;
}

.buttonDiv button:hover {
  border:1px solid #222;
  border-radius: 5px;
}

.buttonDiv a:hover {
  border:1px solid #222;
  border-radius: 5px;
}


/* ORDER PAGE */
.orderInfoBox input{
  width: 100%;
  padding:5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-sizing: border-box;
}