@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-blue-900 text-xl m-2;
}

label {
    @apply text-blue-900 m-1;
}

.btn-primary {
    @apply bg-blue-900 text-white px-4 py-2 rounded-md m-2 text-[14px];
}

input, textarea {
    border: solid rgb(187, 187, 187) 2px;
    border-radius: 10px;
    padding: 3.5px;
    padding-inline: 5px;
    margin: 2px;
    width: 100%;
    margin-bottom: 4px;
}

input:focus, textarea:focus {
    border: rgb(65, 128, 230);
    padding: 4.5px;
    padding-inline: 6px;
}



