@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-blue-900 text-xl m-4 ml-4;
}

label {
    @apply text-blue-900 m-1;
}

.btn-primary {
    @apply bg-blue-900 text-white px-4 py-2 rounded-md m-2 text-[14px];
}

/* .btn-secondary {
    
} */

.btn-red {
    @apply bg-red-500 text-white px-4 py-1 rounded-md text-[14px];
}

.btn-def {
    @apply bg-gray-600 text-white px-4 py-1 rounded-md text-[14px];
}

table.basic {
    @apply w-full;
}

table.basic a {
    @apply px-3 py-1 rounded-md m-1 text-white text-[12px] inline-flex gap-1 items-center;
}

table.basic thead tr td {
    @apply bg-blue-100
}

table.basic tr td {
    @apply border border-blue-200  p-1;
}


input, textarea {
    border: solid rgb(187, 187, 187) 2px;
    border-radius: 10px;
    padding: 3.5px;
    padding-inline: 5px;
    margin: 2px;
    width: 100%;
    margin-bottom: 4px;
}

input:focus, textarea:focus {
    border: rgb(65, 128, 230);
    padding: 4.5px;
    padding-inline: 6px;
}



